#footer
{
    height: 60px;
}

#footer
{
    background-color: #f5f5f5;
}

.dl-horizontal dt 
{
    float: left;
    width: 40px;
    overflow: hidden;
    clear: left;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dl-horizontal dd 
{
    margin-left: 60px;
}
