<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>body</key>
		<string>高处作业：凡是坠落高度基准面以上有可能坠落的高处进行的作业称为高处作业。</string>
		<key>rightIdx</key>
		<string>3</string>
		<key>selA</key>
		<string>8m（含8m）</string>
		<key>selB</key>
		<string>6m（含6m）</string>
		<key>selC</key>
		<string>4m（含4m）</string>
		<key>selD</key>
		<string>2m（含2m）</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>body</key>
		<string>干粉灭火器从出厂日期算起，达到的必须报废。</string>
		<key>rightIdx</key>
		<string>3</string>
		<key>selA</key>
		<string>15年</string>
		<key>selB</key>
		<string>14年</string>
		<key>selC</key>
		<string>12年</string>
		<key>selD</key>
		<string>10年</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>body</key>
		<string>动土作业规定：挖土、打桩、地锚入土深度，必须办理动土作业票。</string>
		<key>rightIdx</key>
		<string>3</string>
		<key>selA</key>
		<string>2m </string>
		<key>selB</key>
		<string>1m</string>
		<key>selC</key>
		<string>0.8m</string>
		<key>selD</key>
		<string>0.5m</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>body</key>
		<string>上罐作业人员一次最多不得超过。五级风以上、雨雪天、浓雾天及有雷雨时严禁上罐。</string>
		<key>rightIdx</key>
		<string>2</string>
		<key>selA</key>
		<string>8人</string>
		<key>selB</key>
		<string>6人</string>
		<key>selC</key>
		<string>5人</string>
		<key>selD</key>
		<string>3人</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>body</key>
		<string>每个设置点的灭火器数量不宜多于</string>
		<key>rightIdx</key>
		<string>0</string>
		<key>selA</key>
		<string>5具</string>
		<key>selB</key>
		<string>4具</string>
		<key>selC</key>
		<string>3具</string>
		<key>selD</key>
		<string>2具</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>body</key>
		<string>危险化学品安全管理方针是</string>
		<key>rightIdx</key>
		<string>1</string>
		<key>selA</key>
		<string>安全第一、预防为主 </string>
		<key>selB</key>
		<string>安全第一、预防为主、综合治理 </string>
		<key>selC</key>
		<string>安全第一、预防为主、防治结合</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>body</key>
		<string>安全标签用的组合形式表示化学品所具有的危险性和安全注意事项。</string>
		<key>rightIdx</key>
		<string>0</string>
		<key>selA</key>
		<string>文字、图形符号和编码</string>
		<key>selB</key>
		<string>文字、照片和编码</string>
		<key>selC</key>
		<string>文字、图形和类别</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>body</key>
		<string>新《消防法》于起实施。</string>
		<key>rightIdx</key>
		<string>2</string>
		<key>selA</key>
		<string>2008年5月1日</string>
		<key>selB</key>
		<string>2008年5月5日</string>
		<key>selC</key>
		<string>2009年5月1日 </string>
		<key>selD</key>
		<string>2009年5月5日</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>body</key>
		<string>安全色有四种。其中红色代表。</string>
		<key>rightIdx</key>
		<string>2</string>
		<key>selA</key>
		<string>指令</string>
		<key>selB</key>
		<string>警告</string>
		<key>selC</key>
		<string>禁止</string>
		<key>selD</key>
		<string>安全</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>body</key>
		<string>产生静电的基本环境是。</string>
		<key>rightIdx</key>
		<string>2</string>
		<key>selA</key>
		<string>低温、低压、潮湿</string>
		<key>selB</key>
		<string>高温、低压、干燥</string>
		<key>selC</key>
		<string>高温、高压、干燥 </string>
		<key>selD</key>
		<string>高温、低压、干燥</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
