<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>body</key>
		<string>在道路上骑电动自行车必须年满多少周岁？</string>
		<key>rightIdx</key>
		<string>1</string>
		<key>selA</key>
		<string>14周岁</string>
		<key>selB</key>
		<string>16周岁</string>
		<key>selC</key>
		<string>18周岁</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>body</key>
		<string>当你骑电动自行车在非机动车道内行驶时，最高时速不得超过多少公里？</string>
		<key>rightIdx</key>
		<string>1</string>
		<key>selA</key>
		<string>10公里</string>
		<key>selB</key>
		<string>15公里</string>
		<key>selC</key>
		<string>20公里</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>body</key>
		<string>注入水水质指标中属于控制指标的是</string>
		<key>rightIdx</key>
		<string>0</string>
		<key>selA</key>
		<string>溶解氧 和含油量</string>
		<key>selB</key>
		<string>含油量 和含铁量</string>
		<key>selC</key>
		<string>悬浮物含量和含油量 </string>
		<key>selD</key>
		<string>PH值和硫化氢</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>body</key>
		<string>采油二厂注入水质标准中,悬浮固体含量控制在____mg/L?</string>
		<key>rightIdx</key>
		<string>0</string>
		<key>selA</key>
		<string>≤1.0  </string>
		<key>selB</key>
		<string>≥1.0</string>
		<key>selC</key>
		<string>≤5.0</string>
		<key>selD</key>
		<string>≤2.0</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>body</key>
		<string>水的PH值受____而变化，测定时应在规定的的下进行，或者校正温度。</string>
		<key>rightIdx</key>
		<string>1</string>
		<key>selA</key>
		<string>压力</string>
		<key>selB</key>
		<string>温度</string>
		<key>selC</key>
		<string>时间</string>
		<key>selD</key>
		<string>地点</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>body</key>
		<string>被测定的物质的量较大时，相对误差比较小，测定准确程度也比较__</string>
		<key>rightIdx</key>
		<string>1</string>
		<key>selA</key>
		<string>低</string>
		<key>selB</key>
		<string>高</string>
		<key>selC</key>
		<string>恒定</string>
		<key>selD</key>
		<string>无法确定</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>body</key>
		<string>玻璃温度计读数时，视线与温度计内____保持在同一水平面上</string>
		<key>rightIdx</key>
		<string>0</string>
		<key>selA</key>
		<string>液面</string>
		<key>selB</key>
		<string>水银</string>
		<key>selC</key>
		<string>液面上</string>
		<key>selD</key>
		<string>液面下</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>body</key>
		<string>试样本身有挥发性，应放在____中称量</string>
		<key>rightIdx</key>
		<string>2</string>
		<key>selA</key>
		<string>烧杯</string>
		<key>selB</key>
		<string>锥形瓶</string>
		<key>selC</key>
		<string>称量瓶</string>
		<key>selD</key>
		<string>量筒</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>body</key>
		<string>密度计法测定较粘稠的原油样品，须用____后方可测定</string>
		<key>rightIdx</key>
		<string>2</string>
		<key>selA</key>
		<string>水稀释</string>
		<key>selB</key>
		<string>油品混合</string>
		<key>selC</key>
		<string>煤油稀释</string>
		<key>selD</key>
		<string>汽油混合</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>body</key>
		<string>原油中____是用沉降法就能分离出来的水</string>
		<key>rightIdx</key>
		<string>2</string>
		<key>selA</key>
		<string>乳化水</string>
		<key>selB</key>
		<string>悬浮水</string>
		<key>selC</key>
		<string>游离水</string>
		<key>selD</key>
		<string>溶解水</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>body</key>
		<string>在道路上骑电动自行车必须年满多少周岁？</string>
		<key>rightIdx</key>
		<string>1</string>
		<key>selA</key>
		<string>14周岁</string>
		<key>selB</key>
		<string>16周岁</string>
		<key>selC</key>
		<string>18周岁</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>body</key>
		<string>在道路上骑电动自行车必须年满多少周岁？</string>
		<key>rightIdx</key>
		<string>1</string>
		<key>selA</key>
		<string>14周岁</string>
		<key>selB</key>
		<string>16周岁</string>
		<key>selC</key>
		<string>18周岁</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>body</key>
		<string>当你骑电动自行车在非机动车道内行驶时，最高时速不得超过多少公里？</string>
		<key>rightIdx</key>
		<string>1</string>
		<key>selA</key>
		<string>10公里</string>
		<key>selB</key>
		<string>15公里</string>
		<key>selC</key>
		<string>20公里</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>body</key>
		<string>注入水水质指标中属于控制指标的是</string>
		<key>rightIdx</key>
		<string>0</string>
		<key>selA</key>
		<string>溶解氧 和含油量</string>
		<key>selB</key>
		<string>含油量 和含铁量</string>
		<key>selC</key>
		<string>悬浮物含量和含油量 </string>
		<key>selD</key>
		<string>PH值和硫化氢</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>body</key>
		<string>采油二厂注入水质标准中,悬浮固体含量控制在____mg/L?</string>
		<key>rightIdx</key>
		<string>0</string>
		<key>selA</key>
		<string>≤1.0  </string>
		<key>selB</key>
		<string>≥1.0</string>
		<key>selC</key>
		<string>≤5.0</string>
		<key>selD</key>
		<string>≤2.0</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>body</key>
		<string>水的PH值受____而变化，测定时应在规定的的下进行，或者校正温度。</string>
		<key>rightIdx</key>
		<string>1</string>
		<key>selA</key>
		<string>压力</string>
		<key>selB</key>
		<string>温度</string>
		<key>selC</key>
		<string>时间</string>
		<key>selD</key>
		<string>地点</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>body</key>
		<string>水的PH值受____而变化，测定时应在规定的的下进行，或者校正温度。</string>
		<key>rightIdx</key>
		<string>1</string>
		<key>selA</key>
		<string>压力</string>
		<key>selB</key>
		<string>温度</string>
		<key>selC</key>
		<string>时间</string>
		<key>selD</key>
		<string>地点</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>body</key>
		<string>被测定的物质的量较大时，相对误差比较小，测定准确程度也比较__</string>
		<key>rightIdx</key>
		<string>1</string>
		<key>selA</key>
		<string>低</string>
		<key>selB</key>
		<string>高</string>
		<key>selC</key>
		<string>恒定</string>
		<key>selD</key>
		<string>无法确定</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>body</key>
		<string>玻璃温度计读数时，视线与温度计内____保持在同一水平面上</string>
		<key>rightIdx</key>
		<string>0</string>
		<key>selA</key>
		<string>液面</string>
		<key>selB</key>
		<string>水银</string>
		<key>selC</key>
		<string>液面上</string>
		<key>selD</key>
		<string>液面下</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>body</key>
		<string>试样本身有挥发性，应放在____中称量</string>
		<key>rightIdx</key>
		<string>2</string>
		<key>selA</key>
		<string>烧杯</string>
		<key>selB</key>
		<string>锥形瓶</string>
		<key>selC</key>
		<string>称量瓶</string>
		<key>selD</key>
		<string>量筒</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>body</key>
		<string>密度计法测定较粘稠的原油样品，须用____后方可测定</string>
		<key>rightIdx</key>
		<string>2</string>
		<key>selA</key>
		<string>水稀释</string>
		<key>selB</key>
		<string>油品混合</string>
		<key>selC</key>
		<string>煤油稀释</string>
		<key>selD</key>
		<string>汽油混合</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>body</key>
		<string>密度计法测定较粘稠的原油样品，须用____后方可测定</string>
		<key>rightIdx</key>
		<string>2</string>
		<key>selA</key>
		<string>水稀释</string>
		<key>selB</key>
		<string>油品混合</string>
		<key>selC</key>
		<string>煤油稀释</string>
		<key>selD</key>
		<string>汽油混合</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>body</key>
		<string>原油中____是用沉降法就能分离出来的水</string>
		<key>rightIdx</key>
		<string>2</string>
		<key>selA</key>
		<string>乳化水</string>
		<key>selB</key>
		<string>悬浮水</string>
		<key>selC</key>
		<string>游离水</string>
		<key>selD</key>
		<string>溶解水</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>body</key>
		<string>在道路上骑电动自行车必须年满多少周岁？</string>
		<key>rightIdx</key>
		<string>1</string>
		<key>selA</key>
		<string>14周岁</string>
		<key>selB</key>
		<string>16周岁</string>
		<key>selC</key>
		<string>18周岁</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>body</key>
		<string>当你骑电动自行车在非机动车道内行驶时，最高时速不得超过多少公里？</string>
		<key>rightIdx</key>
		<string>1</string>
		<key>selA</key>
		<string>10公里</string>
		<key>selB</key>
		<string>15公里</string>
		<key>selC</key>
		<string>20公里</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>body</key>
		<string>注入水水质指标中属于控制指标的是</string>
		<key>rightIdx</key>
		<string>0</string>
		<key>selA</key>
		<string>溶解氧 和含油量</string>
		<key>selB</key>
		<string>含油量 和含铁量</string>
		<key>selC</key>
		<string>悬浮物含量和含油量 </string>
		<key>selD</key>
		<string>PH值和硫化氢</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>body</key>
		<string>采油二厂注入水质标准中,悬浮固体含量控制在____mg/L?</string>
		<key>rightIdx</key>
		<string>0</string>
		<key>selA</key>
		<string>≤1.0  </string>
		<key>selB</key>
		<string>≥1.0</string>
		<key>selC</key>
		<string>≤5.0</string>
		<key>selD</key>
		<string>≤2.0</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>body</key>
		<string>水的PH值受____而变化，测定时应在规定的的下进行，或者校正温度。</string>
		<key>rightIdx</key>
		<string>1</string>
		<key>selA</key>
		<string>压力</string>
		<key>selB</key>
		<string>温度</string>
		<key>selC</key>
		<string>时间</string>
		<key>selD</key>
		<string>地点</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>body</key>
		<string>水的PH值受____而变化，测定时应在规定的的下进行，或者校正温度。</string>
		<key>rightIdx</key>
		<string>1</string>
		<key>selA</key>
		<string>压力</string>
		<key>selB</key>
		<string>温度</string>
		<key>selC</key>
		<string>时间</string>
		<key>selD</key>
		<string>地点</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>body</key>
		<string>被测定的物质的量较大时，相对误差比较小，测定准确程度也比较__</string>
		<key>rightIdx</key>
		<string>1</string>
		<key>selA</key>
		<string>低</string>
		<key>selB</key>
		<string>高</string>
		<key>selC</key>
		<string>恒定</string>
		<key>selD</key>
		<string>无法确定</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>body</key>
		<string>玻璃温度计读数时，视线与温度计内____保持在同一水平面上</string>
		<key>rightIdx</key>
		<string>0</string>
		<key>selA</key>
		<string>液面</string>
		<key>selB</key>
		<string>水银</string>
		<key>selC</key>
		<string>液面上</string>
		<key>selD</key>
		<string>液面下</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>body</key>
		<string>试样本身有挥发性，应放在____中称量</string>
		<key>rightIdx</key>
		<string>2</string>
		<key>selA</key>
		<string>烧杯</string>
		<key>selB</key>
		<string>锥形瓶</string>
		<key>selC</key>
		<string>称量瓶</string>
		<key>selD</key>
		<string>量筒</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>body</key>
		<string>密度计法测定较粘稠的原油样品，须用____后方可测定</string>
		<key>rightIdx</key>
		<string>2</string>
		<key>selA</key>
		<string>水稀释</string>
		<key>selB</key>
		<string>油品混合</string>
		<key>selC</key>
		<string>煤油稀释</string>
		<key>selD</key>
		<string>汽油混合</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>body</key>
		<string>原油中____是用沉降法就能分离出来的水</string>
		<key>rightIdx</key>
		<string>2</string>
		<key>selA</key>
		<string>乳化水</string>
		<key>selB</key>
		<string>悬浮水</string>
		<key>selC</key>
		<string>游离水</string>
		<key>selD</key>
		<string>溶解水</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>body</key>
		<string>在道路上骑电动自行车必须年满多少周岁？</string>
		<key>rightIdx</key>
		<string>1</string>
		<key>selA</key>
		<string>14周岁</string>
		<key>selB</key>
		<string>16周岁</string>
		<key>selC</key>
		<string>18周岁</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>body</key>
		<string>注入水水质指标中属于控制指标的是</string>
		<key>rightIdx</key>
		<string>0</string>
		<key>selA</key>
		<string>溶解氧 和含油量</string>
		<key>selB</key>
		<string>含油量 和含铁量</string>
		<key>selC</key>
		<string>悬浮物含量和含油量 </string>
		<key>selD</key>
		<string>PH值和硫化氢</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>body</key>
		<string>当你骑电动自行车在非机动车道内行驶时，最高时速不得超过多少公里？</string>
		<key>rightIdx</key>
		<string>1</string>
		<key>selA</key>
		<string>10公里</string>
		<key>selB</key>
		<string>15公里</string>
		<key>selC</key>
		<string>20公里</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>body</key>
		<string>当你骑电动自行车在非机动车道内行驶时，最高时速不得超过多少公里？</string>
		<key>rightIdx</key>
		<string>1</string>
		<key>selA</key>
		<string>10公里</string>
		<key>selB</key>
		<string>15公里</string>
		<key>selC</key>
		<string>20公里</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>body</key>
		<string>注入水水质指标中属于控制指标的是</string>
		<key>rightIdx</key>
		<string>0</string>
		<key>selA</key>
		<string>溶解氧 和含油量</string>
		<key>selB</key>
		<string>含油量 和含铁量</string>
		<key>selC</key>
		<string>悬浮物含量和含油量 </string>
		<key>selD</key>
		<string>PH值和硫化氢</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>body</key>
		<string>采油二厂注入水质标准中,悬浮固体含量控制在____mg/L?</string>
		<key>rightIdx</key>
		<string>0</string>
		<key>selA</key>
		<string>≤1.0  </string>
		<key>selB</key>
		<string>≥1.0</string>
		<key>selC</key>
		<string>≤5.0</string>
		<key>selD</key>
		<string>≤2.0</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>body</key>
		<string>水的PH值受____而变化，测定时应在规定的的下进行，或者校正温度。</string>
		<key>rightIdx</key>
		<string>1</string>
		<key>selA</key>
		<string>压力</string>
		<key>selB</key>
		<string>温度</string>
		<key>selC</key>
		<string>时间</string>
		<key>selD</key>
		<string>地点</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>body</key>
		<string>水的PH值受____而变化，测定时应在规定的的下进行，或者校正温度。</string>
		<key>rightIdx</key>
		<string>1</string>
		<key>selA</key>
		<string>压力</string>
		<key>selB</key>
		<string>温度</string>
		<key>selC</key>
		<string>时间</string>
		<key>selD</key>
		<string>地点</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
